header {
  background-color: var(--details-color);
  box-shadow: var(--box-shadow);
  nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    a {
      color: var(--text-color);
    }
  }
}
